#myform{
  margin-top:5%;
  align-self: center;
  padding-left:30%;
}
.input{
  width: 50%;
}
.description{
  text-align: center;
  padding-top: 5%;
  font-family: georgia;
}
#birth{
  border-radius: 20px;
  color: gold;
  font-family: georgia;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent;
  border:2px solid skyblue;
}
#submitButton{
  border-radius:20px;
  color:gold;
  font-family: georgia;
  border:2px solid skyblue;
  background-color: transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5%;
  text-transform: uppercase;

}
